.header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--badges);
  padding: 24px 64px;
  width: 100%;
  height: 72px;
  background-color: var(--inputs);
}

.navbar {
  width: 100%;
}
.navigation {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style-type: none;
}

.active {
  color: var(--button-hover);
}
