.card {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  gap: 24px;
  padding: 24px;
  width: 100%;
}
.listWrapper {
  width: 100%;
}

.camperList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.image {
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}

.right {
  width: 100%;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.price {
  gap: 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.secBlock {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.reviews,
.city {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
